<mat-toolbar color="primary">
    <img src='assets/hcl.png' />
    <span class="example-fill-remaining-space"></span>
    <span>So5 Metrics</span>
    <span class="example-fill-remaining-space"></span>
    <mat-card-actions *ngIf="isUserLoggedIn()">
        <div class="header-user-details_main">
            <div class="header-user-details"><span class="header-user-details_span">Welcome {{userName}}</span>
                <span class="header-user-details_span">Logged in Date:{{dateDetials | date: 'MMM-dd-yyyy'}}</span>
              
            </div>
            <div class="header_logout"><button mat-button (click)="logout()"> <i class="material-icons">
                        power_settings_new
                    </i></button></div>
        </div>
    </mat-card-actions>
</mat-toolbar>