<div class="main-div">
      <mat-card class="center">
         <mat-card-content>
            <form class="my-form" [formGroup]="loginForm" autocomplete="off" novalidate>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Username" formControlName="emailId" id="emailId">
      <mat-error *ngIf="hasError('emailId', 'required')">Name is required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password" formControlName="password" id="password">
        
        <mat-error *ngIf="hasError('password', 'required')">Name is required</mat-error>
        <mat-error *ngIf="hasError('password', 'maxlength')">You have more than 60 characters</mat-error>
      </mat-form-field>
      
            </form>
         </mat-card-content>
    <mat-card-actions align="center">
      <mat-spinner *ngIf="showLoader" [diameter]="40"></mat-spinner>
     <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="login(loginForm.value)">Login</button>
    </mat-card-actions>
      </mat-card>
    </div>
    
    