<div [@dialog] *ngIf="visibleSo5Mapping" class="dialog">
  <ng-content></ng-content>
  <button *ngIf="closableSo5Mapping" (click)="close()" aria-label="Close" class="dialog__close-btn">
    <mat-icon>close</mat-icon>
  </button>

  <mat-toolbar>So5 Mapping Details</mat-toolbar>
  <div class="container">
    <form [formGroup]="newSo5MappingDetailsForm">
      <div class="form-group row">
        <label for="platformName" class="col-md-2 col-form-label">Platform Name </label>
        <div class="col-md-4">
          <mat-form-field>
              <mat-label>Platform Name</mat-label>
            <mat-select formControlName="platformName" (click)="get_products()">
              <mat-option *ngFor="let Platform of Platforms" [value]="Platform.id" id="platformName">
                {{Platform.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <mat-form-field>
            <mat-label>Platform Name</mat-label>
            <mat-select formControlName="platformName">
              <mat-option *ngFor="let Platform of Platforms" (click)="onChange(Platform.value)" [value]="Platform.value"
                id="platformName">
                {{Platform.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <mat-error *ngIf="submitted && newSo5MappingDetailsForm.get('platformName').hasError('required')">
            Platform Name is required..!
          </mat-error>
        </div>
        <label for="so5Name" class="col-md-2 col-form-label">So5 Name </label>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="So5 Name" id="so5Name" formControlName="so5Name">
          </mat-form-field>
          <mat-error *ngIf="submitted && newSo5MappingDetailsForm.get('so5Name').hasError('required')">
            So5 Name is required..!
          </mat-error>
        </div>
      </div>
      <div class="form-group row">
        <label for="so5StartDate" class="col-md-2 col-form-label">S05 Start Date </label>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput [matDatepicker]="so5StartDate" [max]="newSo5MappingDetailsForm.controls.so5EndDate.value"
              placeholder="Choose a So5 Start Date" id="so5StartDate" formControlName="so5StartDate">
            <mat-datepicker-toggle matSuffix [for]="so5StartDate"></mat-datepicker-toggle>
            <mat-datepicker #so5StartDate></mat-datepicker>
          </mat-form-field>
          <mat-error *ngIf="submitted && newSo5MappingDetailsForm.get('so5StartDate').hasError('required')">
            S05 Start Date is required..!
          </mat-error>
        </div>
        <label for="so5EndDate" class="col-md-2 col-form-label">SO5 End Date</label>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput [matDatepicker]="so5EndDate" [min]="newSo5MappingDetailsForm.controls.so5StartDate.value"
              placeholder="Choose a So5 End Date" id="so5EndDate" formControlName="so5EndDate">
            <mat-datepicker-toggle matSuffix [for]="so5EndDate"></mat-datepicker-toggle>
            <mat-datepicker #so5EndDate></mat-datepicker>
          </mat-form-field>
          <mat-error *ngIf="submitted && newSo5MappingDetailsForm.get('so5EndDate').hasError('required')">
            SO5 End Date is required..!
          </mat-error>
        </div>
      </div>

    </form>
    <div class="form-group row">
      <div class="col-md-4"></div>
      <div class="col-md-2">
        <button mat-raised-button color="primary" [disabled]="submitted && newSo5MappingDetailsForm.invalid"
          (click)="addDetails();">
          Add Details
        </button>
      </div>
      <div class="col-md-2">
        <button mat-raised-button *ngIf="closableSo5Mapping" (click)="close()">
          Cancel
        </button>
      </div>
    </div>

  </div>
</div>
<div *ngIf="visibleSo5Mapping" class="overlay"></div>